.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu__list li {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .menu__list {
        display: none;
        position: absolute;
        top: 40.2px;
        left: 96px;
    }
}