.popup__close_type_add {
    width: 56px;
    height: 56px;
    top: -50px;
    right: -50px;
}

@media screen and (max-width: 620px) {
    .popup__close_type_add {
        width: 36px;
        height: 36px;
        top: -35px;
        right: -35px;
}

}