.popup__save_type_login {
    position: relative;
    margin: 216px 0 0;
    background-color: #fff;
    color: #000;
    transition: opacity .4s;
}

.popup__save_type_login:hover {
    opacity: 0.85;
}


@media screen and (max-width: 620px) {
    .popup__save_type_login {
        margin: 173px auto 0;
        height: 46px;
        font-size: 16px;
        line-height: 1.18;
}
}