.header__useremail {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    margin: 0 24px 0 0;
}

@media screen and (max-width: 500px) {
    .header__useremail {
        margin: 0;
    }
}