.popup__container_type_avatar {
    width: 430px;
    max-width: 430px;
}

@media screen and (max-width: 620px) {
    .popup__container_type_avatar {
        width: 240px;
        padding: 30px 20px;
}

}