.button_type_edit {
    align-self: center;
    width: 24px;
    height: 24px;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 6px;
    background-image: url("../../../images/profile_edit-button.svg");
    background-size: cover;
    background-position: center;
    transition: opacity .4s;
}

.button_type_edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 620px) {
    .button_type_edit {
        width: 18px;
        height: 18px;
    }
}